﻿@**using newIcos.Helpers **@

@{
    ViewBag.Title = "ICOS ETC";
    Layout = "~/Views/Shared/_LayoutICOS.cshtml";
}

<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyD_LQmkv8qfAT-TZgIecG7GndusM85RWoA"></script>
<div class="container">
    <div class="row">
        <!--<div style="margin: 10px; width: 720px; float: left;">-->
        <div class="col-md-9">
            <h1>ICOS Ecosystem Thematic Center</h1>
            <p>ICOS (Integrated Carbon Observation System) is a&nbsp;<strong>European Research Infrastructure</strong>&nbsp;(<a href="http://www.cordis.europa.eu/esfri" target="_blank">ESFRI</a>) for&nbsp;<strong>quantifying</strong>&nbsp;<strong>and understanding the greenhouse gas balance</strong>&nbsp;of the European continent and of adjacent regions (<a href="http://www.icos-infrastructure.eu/">www.icos-infrastructure.eu</a>). It is organized in three different components (Atmosphere, Ecosystems, Oceans) and each of them is coordinated by a Thematic Center.</p>
            <p>This website host the ICOS Ecosystem Thematic Center construction phase, providing all the information available and introducing the actual network of sites. The sections available on the top bar menu offer access to the documentation, working groups for protocols and demonstration experiment sites.</p>
            <h2>The Ecosystem Thematic Center </h2>
            <p>The Ecosystem Thematic Center is hosted in three different countries: Italy (coordinator), Belgium and France. This decision has been taken in order to maximize the knowledge gained in the last decade by different groups in the ecosystem data collection, processing and distribution. The institutions that are part of the ETC are the euroMediterranean Center on Climate Change (CMCC) and the University of Tuscia in Italy, the University of Antwerp in Belgium and the French National Institute for Agricultural Research (INRA) in Bordeaux, France.</p>
            <p>The ETC is organized in four main units with specific tasks:</p>
            <p><strong>ETC Executive Committee Unit:</strong> responsible for the communication and interaction with ICOS ecosystem stations, others Central Facilities and the ICOS Head Office, organizes the ETC operations assessment and reporting.</p>
            <p><strong>Data Unit:</strong> responsible for the data processing and quality control, development of new exploration and validation tools and providing real time alert services in case of problems in the data received from the ICOS sites.</p>
            <p><strong>Test Unit:</strong> responsible for the test, evaluation and development of new sensors and new measurement and data processing methodologies also through specific Working Groups open to the scientific community, it is also the interface with instrument manufactures. The Test Unit will also work to organize roving system service for parallel validation measurements at the ICOS sites.</p>
            <p><strong>Network Unit:</strong> responsible for the network coordination and assistance, organizes training sessions and meetings with the ICOS Ecosystem sites staff, evaluate the performances of the ICOS stations and collect, analyze and store samples of soil and vegetation collected at the sites.</p>
            <p>The Units are composed by staff that is located in the different countries and institutions part of the ETC. More information are available in the People and Structure section of the site</p>
            <h2>The ICOS Ecosystem Network&nbsp;</h2>
            <p>The map here below shows the actual proposed network of ICOS Ecosystem sites. The sites indicated with a star are the one participating to the Demonstration Experiment where data collection and submission are tested following the ICOS protocols and methodology.</p>
            <div id="map-canvas" style="border: thin solid #c0c0c0; width: 850px; height: 475px; text-align: left;">&nbsp;</div>
            &nbsp;
            <script type="text/javascript" src="~/js/echarts.min.js"></script>
        </div>

        <script>
    function initialize() {
        var myLatlng = new google.maps.LatLng(56, 20);
        var mapOptions = {
            zoom: 3,
            center: myLatlng
        }
        var map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);

        //contentType: 'application/json; charset=utf-8',
        //dataType: "json",

        $.ajax({
            type: "POST",
            url: '@Url.Action("GetIcosSites", "Home")',
            success: function (msg) {

                var stations;
                if (msg.hasOwnProperty('d')) {
                    stations = (msg.d);

                } else {
                    stations = msg;
                }
                setMarkers(map, stations);
            }
        });

    }
    // public string name = "";
    // public float longitude = 0;
    // public float latitude = 0;
    function setMarkers(map, locations) {
        for (var i = 0; i < locations.length; i++) {
            var station = locations[i];


            var myLatLng = new google.maps.LatLng(parseFloat(station.NLat), parseFloat(station.NLon)); //parseFloat( station.nLat), parseFloat(station.nLon)
            console.log(station);
            var contentString = '<div class="content" style="font-size:10pt" ><b><p>Station name: </b>' + station.site_name + '&nbsp;(' + station.site_code + ')<br>';

            contentString += '<hr>' +
                '<b>Longitude: </b>' + station.NLat + '<br>' +
                '<b>Latitude: </b>' + station.NLon + '<br>';


            var infowindow = new google.maps.InfoWindow({
                content: contentString
            });
            var image = new google.maps.MarkerImage('/images/default-source/default-album/ground.png',
                                       new google.maps.Size(12, 20),
                                       new google.maps.Point(0, 0),
                                       new google.maps.Point(0, 20)
                                   );



            var marker = new google.maps.Marker({
                position: myLatLng,
                icon: image,
                map: map,
                title: station.name,
                html: contentString
            });

            google.maps.event.addListener(marker, 'click', function () {
                infowindow.setContent(this.html);
                infowindow.open(map, this);
            });
        }
    }

    google.maps.event.addDomListener(window, 'load', initialize);

        </script>
        <!--<div style="width: 250px; height: 1080px; margin-top: 10px; margin-bottom: 10px; float: right; text-align: right;">-->
        <div class="col-md-3">
            <h1>News</h1>
            <div style="overflow-y: auto; overflow-x: hidden; height: 1385px;">
                <!--<div style="padding: 5px; border-top-left-radius: 5px; border-top-right-radius: 5px; border-bottom-right-radius: 5px; border-bottom-left-radius: 5px; border: thin solid #c0c0c0;">-->
                <div class="header-box fill-highlight text-centered ">
                    <a href="/icos/news#newsitem_10"></a>
                    <h5 class="text-white">
                        23 November 2016<br />
                        SE-Htm and SE-Lnn started Step ​​2 of labelling
                    </h5>
                </div>
                <div class="box bg-white -has-header  text-small">
                    <p>The Hyltemossa and Lanna ecosystem sites in Sweden (SE-Htm and SE-Lnn) entered the last labelling phase where the installation of all sensors will be finalized in order to get the ICOS Class ​2 status.</p>
                </div>
                <div class="header-box fill-highlight text-centered ">
                    <a href="/icos/news#newsitem_9"></a>
                    <h5 class="text-white">
                        17 November 2016<br />
                        CH-Dav started Step ​​2 of labelling
                    </h5>
                </div>
                <div class="box bg-white -has-header  text-small">
                    <p>The Davos ecosystem site in Switzerland (CH-Dav) is the second site to enter the last labelling phase where the installation of all sensors will be finalized in order to get the ICOS Class ​1 status.</p>
                </div>
                <div class="header-box fill-highlight text-centered ">
                    <a href="/icos/news#newsitem_10"></a>
                    <h5 class="text-white">
                        4 November 2016<br />
                        FR-Bil started Step 2 of labelling
                    </h5>
                </div>
                <div class="box bg-white -has-header  text-small">
                    <p>The Bilos-Salles ecosystem site in France (FR-Bil) entered the last labelling phase where the installation of all sensors will be finalized in order to get the ICOS Class 2 status.</p>
                </div>
            </div>
        </div>
    </div>
</div>