﻿
@{
    ViewBag.Title = "People and Structure";
    Layout = "~/Views/Shared/_LayoutICOS.cshtml";
}

<div class="container">
    <div class="row">
        <h1>People &amp; Structure</h1>
        <p>The Ecosystem Thematic Centre is hosted by different institutions: University of Tuscia (UNITUS) and euro-Mediterranean Center on Climate Change (CMCC) in Viterbo &ndash; Italy, the University of Antwerp (Research Group of Plant and Vegetation Ecology, PLECO) in Belgium and the French National Institute for Agricultural Research (INRA) in Bordeaux, France. The ETC is also organized in different Units (see scheme here below) where ETC staff members from the different institutions are working together and strict and continuous coordination.</p>
        <p>Although the ETC has been organized in order to maximize the interchangeability of the members in order to increase the robustness and share as much as possible the competences, the groups involved have different field of expertise and main responsibilities. In particular the Italian partners UNITUS and CMCC coordinate the ETC and the fluxes and meteorological data processing, the University of Antwerp is responsible for the ancillary data collection and treatment while the INRA Bordeaux will receive, analyze and store the soil and vegetation samples.</p>
    </div>
</div>
<div class="container">
    <div class="row">
        <h4>The ETC is organized in four main units with specific tasks:</h4>
        <div class="col-md-9 col-md-offset-1-5">
            <br />
            <div class="box fill-sub ">
                <h4 class="text-white text-centered">ETC Executive Committee Unit</h4>
                <ul>
                    <li>Communication and interaction with the ICOS ecosystem stations and other Central Facilities</li>
                    <li>Organization of the anual assessments of ETC operations</li>
                    <li>Planning of the medium and long term activities</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-3 col-md-offset-1-5">
            <div class="header-box fill-highlight ">
                <h4 class="text-white text-centered">Data Unit</h4>
                <!--</div>
                    <div class="box -has-header bg-white ">-->
                <ul>
                    <li>Near real time data/metadata collection</li>
                    <li>Automatic data QAQC and processing</li>
                    <li>Data sharing, distribution and archiving</li>
                    <li>Development of tools for data exploration and validation</li>
                    <li>Alert service in case of data problems or incosistencies</li>
                </ul>
            </div>
        </div>
        <div class="col-md-3">
            <div class="header-box fill-highlight ">
                <h4 class="text-white  text-centered">Test Unit</h4>
                <!--</div>
                    <div class="box -has-header bg-white ">-->
                <ul>
                    <li>Evaluation of new sensors and prototypes</li>
                    <li>New methods developments</li>
                    <li>Interactions with instrument manufacturers and research centers</li>
                    <li>Roving system management for sites validation and parallel measurements</li>
                </ul>
            </div>
        </div>
        <div class="col-md-3">
            <div class="header-box fill-highlight">
                <h4 class="text-white text-centered">Network Unit</h4>
                <!--</div>
                    <div class="box -has-header bg-white ">-->
                <ul>
                    <li>Assistence to the ICOS ecosystem stations</li>
                    <li>Evaluation of the ICOS station performances</li>
                    <li>Training sessions for site managers and technicians</li>
                    <li>Soil and vegetation sample analysis and storage</li>
                    <li>Organisation of the Workgroups for protocol development</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <h2>ETC Staff and Roles</h2>
    </div>
    <div class="row">
        <h3>ETC Coordination</h3>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <table class="contact-table">
                <tbody>
                    <tr>
                        <td style="vertical-align: top;" rowspan="3">
                            <img title="DarioPapale" alt="DarioPapale" src="/images/default-source/default-album/dariopapale.jpg?sfvrsn=0" displaymode="Original" /><br />
                        </td>
                        <th>Dario Papale</th>
                    </tr>
                    <tr>
                        <td class="text">
                            <h5>ETC Executive Committee Unit</h5>
                            <em>Director ETC</em>
                        </td>
                    </tr>
                    <tr>
                        <td class="info">
                            UNITUS (Italy)<br />
                            +39 0761 357044<br />
                            <a href="mailto:darpap@unitus.it">darpap@unitus.it</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-4">
            <table class="contact-table">
                <tbody>
                    <tr>
                        <td style="vertical-align: top;" rowspan="3">
                            <img title="Bert Gielen" style="border: currentcolor;" alt="Bert Gielen" src="/images/default-source/default-album/bert-gielen.png?sfvrsn=4" />
                        </td>
                        <th>Bert Gielen</th>
                    </tr>
                    <tr>
                        <td class="text">
                            <h5>ETC Executive Committee Unit, Data Unit, Network Unit</h5>
                            <!--<em>Protocol development ancillary data and practical training</em>-->
                        </td>
                    </tr>
                    <tr>
                        <td class="info">
                            PLECO (Belgium)<br />
                            +32 3 265 23 63<br />
                            <a href="mailto:bert.gielen@uantwerpen.be">bert.gielen@uantwerpen.be</a>&nbsp;
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-4">
            <table class="contact-table">
                <tbody>
                    <tr>
                        <td style="vertical-align: top;" rowspan="3">
                            <img title="denis" style="border: currentcolor;" src="/images/default-source/default-album/denis.png?sfvrsn=0" />
                        </td>
                        <th>Denis Loustau</th>
                    </tr>
                    <tr>
                        <td class="text">
                            <h5>ETC Executive Committee Unit</h5>
                            <em>Co-director ETC</em>
                        </td>
                    </tr>
                    <tr>
                        <td class="info">
                            INRA (France)<br />
                            +33 (0)6 78 19 73 99<br />
                            <a href="mailto:denis.loustau@bordeaux.inra.fr">denis.loustau@bordeaux.inra.fr</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="container">
    <div class="row clearfix">
        <h3>Scientific Staff</h3>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <table class="contact-table">
                <tbody>
                    <tr>
                        <td style="vertical-align: top;" rowspan="3">
                            <img title="EleonoraCanfora" style="border: currentcolor;" src="/images/default-source/default-album/eleonoracanfora.jpg?sfvrsn=0" />
                        </td>
                        <th>Eleonora Canfora</th>
                    </tr>
                    <tr>
                        <td class="text">
                            <h5>Data Unit, Network Unit</h5>
                            <!--<em>Data processing, network assistance, data submission track</em>-->
                        </td>
                    </tr>
                    <tr>
                        <td class="info">
                            CMCC (Italy)<br />
                            +39 0761 357044<br />
                            <a href="mailto:eleonora.canfora@cmcc.it">eleonora.canfora@cmcc.it</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-4">
            <table class="contact-table">
                <tbody>
                    <tr>
                        <td style="vertical-align: top;" rowspan="3">
                            <img title="sebastien" style="border: currentcolor;" src="/images/default-source/default-album/sebastien.png?sfvrsn=0" />
                        </td>
                        <th>Sebastien Lafont</th>
                    </tr>
                    <tr>
                        <td class="text">
                            <h5>Data Unit, Network Unit</h5>
                            <!--<em>Link with spatial explicit data</em>-->
                        </td>
                    </tr>
                    <tr>
                        <td class="info">
                            INRA (France)<br />
                            <a href="mailto:&gt;sebastien.lafont@inra.fr">sebastien.lafont@inra.fr</a><br />
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-4">
            <table class="contact-table">
                <tbody>
                    <tr>
                        <td style="vertical-align: top;" rowspan="3">
                            <img title="giacomo" alt="giacomo" src="/images/default-source/default-album/giacomo.jpg?sfvrsn=0" displaymode="Original" />
                        </td>
                        <th>Giacomo Nicolini</th>
                    </tr>
                    <tr>
                        <td class="text">
                            <h5>Network Unit, Test Unit</h5>
                        </td>
                    </tr>
                    <tr>
                        <td class="info">
                            UNITUS (Italy)<br />
                            +39 0761 357251<br />
                            <a href="mailto:g.nicolini@unitus.it">g.nicolini@unitus.it</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="row clearfix">&nbsp;</div>
        <div class="col-md-4">
            <table class="contact-table">
                <tbody>
                    <tr>
                        <td style="vertical-align: top;" rowspan="3">
                            <img title="Maarten Op de Beeck" style="border: currentcolor;" alt="Maarten Op de Beeck" src="/images/default-source/default-album/maarten-op-de-beeck0B2854408A85.png?sfvrsn=2" /><br />
                        </td>
                        <th>Maarten Op de Beeck</th>
                    </tr>
                    <tr>
                        <td class="text">
                            <h5>Data Unit, Network Unit</h5>
                            <!--<em>Protocol development ancillary data and practical training</em>-->
                        </td>
                    </tr>
                    <tr>
                        <td class="info">
                            PLECO (Belgium)<br />
                            +32 3 265 23 63<br />
                            <a href="mailto:maarten.opdebeeck@uantwerpen.be">maarten.opdebeeck@uantwerpen.be</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-4">
            <table class="contact-table">
                <tbody>
                    <tr>
                        <td style="vertical-align: top;" rowspan="3">
                            <span class="sfImageWrapper" data-sfref="[images|OpenAccessDataProvider]1eaceba7-e9b8-6512-b460-ff0000390516">
                                <img title="Simone Sabbatini" alt="Simone Sabbatini" src="/images/default-source/default-album/simone-sabbatini.jpg?sfvrsn=0" displaymode="Original" />
                            </span><br />
                        </td>
                        <th>
                            Simone Sabbatini
                        </th>
                    </tr>
                    <tr>
                        <td class="text">
                            <h5>Test Unit</h5>
                            <!--<em>Instruments intercomparison, uncertainty quantification, development of data processing protocol</em>-->
                        </td>
                    </tr>
                    <tr>
                        <td class="info">
                            UNITUS (Italy)<br />
                            +39 0761 357261<br />
                            <a href="mailto:simone.sabbatini@unitus.it">simone.sabbatini@unitus.it</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-4">
            <table class="contact-table">
                <tbody>
                    <tr>
                        <td style="vertical-align: top;" rowspan="3">
                            <img title="Carlo Trotta" style="border: currentcolor;" src="/images/default-source/default-album/carlo-trotta.jpg?sfvrsn=0" />
                        </td>
                        <th>Carlo Trotta</th>
                    </tr>
                    <tr>
                        <td class="text">
                            <h5>Data Unit</h5>
                            <!--<em>Data postprocessing and uncertainty quantification</em>-->
                        </td>
                    </tr>
                    <tr>
                        <td class="info">
                            UNITUS (Italy)<br />
                            +39 0761 357044<br />
                            <a href="mailto:trottacarlo@unitus.it">trottacarlo@unitus.it</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="row clearfix">&nbsp;</div>
        <div class="col-md-4">
            <table class="contact-table">
                <tbody>
                    <tr>
                        <td style="vertical-align: top;" rowspan="3">
                            <img title="VITALE_Photo" style="border: currentcolor;" src="/images/default-source/default-album/vitale_photo.png?sfvrsn=0" /><br />
                        </td>
                        <th>Domenico Vitale</th>
                    </tr>
                    <tr>
                        <td class="text">
                            <h5>Data Unit, Test Unit</h5>
                            <!--<em>NRT data processing, development of new data processing methods </em>-->
                        </td>
                    </tr>
                    <tr>
                        <td class="info">
                            UNITUS (Italy)<br />
                            +39 0761 357251<br />
                            <a href="mailto:domvit@unitus.it">domvit@unitus.it</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-4">
            <table class="contact-table">
                <tbody>
                    <tr>
                        <td style="vertical-align: top;" rowspan="3">
                            <img src="/images/default-source/default-album/fana.jpg?sfvrsn=0" displaymode="Original" alt="Fana" title="Fana" /><br />
                        </td>
                        <th>Fana Michilsens</th>
                    </tr>
                    <tr>
                        <td class="text">
                            <h5>Data Unit, Network Unit</h5>
                            <!--<em>NRT data processing, development of new data processing methods </em>-->
                        </td>
                    </tr>
                    <tr>
                        <td class="info">
                            PLECO (Belgium)<br />
                            +32 3 265 90 73 <br />
                            <a href="mailto:Fana.Michilsens@uantwerpen.be">Fana.Michilsens@uantwerpen.be</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <h3>Technical and Administrative Staff</h3>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <table class="contact-table">
                <tbody>
                    <tr>
                        <td style="vertical-align: top;" rowspan="3">
                            <img title="patricia" style="border: currentcolor;" src="/images/default-source/default-album/patricia.png?sfvrsn=0" />
                        </td>
                        <th>Patricia Braconnier</th>
                    </tr>
                    <tr>
                        <td class="text">
                            <h5>Administration</h5>
                            <!--<em>Secretary, logistics, budget and administration</em> -->
                        </td>
                    </tr>
                    <tr>
                        <td class="info">
                            Patricia Braconnier<br />
                            INRA (France)<br />
                            <a href="mailto:patriica.braconnier@bordeaux.inra.fr">patriica.braconnier@bordeaux.inra.fr</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-4">
            <table class="contact-table">
                <tbody>
                    <tr>
                        <td style="vertical-align: top;" rowspan="3">
                            <img title="emmy" style="border: currentcolor;" src="/images/default-source/default-album/emmy228B9F2452C6.png?sfvrsn=2" />
                        </td>
                        <th>Emmy Jacobs</th>
                    </tr>
                    <tr>
                        <td class="text">
                            <h5>Information Technology</h5>
                            <!--<em>Database operation and managing, web developer</em>-->
                        </td>
                    </tr>
                    <tr>
                        <td class="info">
                            PLECO (Belgium)<br />
                            +32 3 265 23 63<br />
                            <a href="mailto:emmy.jacobs@uantwerpen.be">emmy.jacobs@uantwerpen.be</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-4">
            <table class="contact-table">
                <tbody>
                    <tr>
                        <td style="vertical-align: top;" rowspan="3">
                            <img title="Thi Minh Tu Nguyen" style="border: currentcolor;" alt="Thi Minh Tu Nguyen" src="/images/default-source/default-album/thi-minh-tu-nguyen99626BBAD3BF.png?sfvrsn=4" />
                        </td>
                        <th>Thi Minh Tu Nguyen</th>
                    </tr>
                    <tr>
                        <td class="text">
                            <h5>Administration</h5>
                            <!--<em>Procurement, contract and budget managing, communication and administration </em>-->
                        </td>
                    </tr>
                    <tr>
                        <td class="info">
                            PLECO (Belgium)<br />
                            +32 3 265 23 63<br />
                            <a href="mailto:ThiMinhTu.Nguyen@uantwerpen.be">ThiMinhTu.Nguyen@uantwerpen.be</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="row clearfix">&nbsp;</div>
        <div class="col-md-4">
            <table class="contact-table">
                <tbody>
                    <tr>
                        <td style="vertical-align: top;" rowspan="3">
                            <img title="diego polidori" style="border: currentcolor;" src="/images/default-source/default-album/diego-polidori.png?sfvrsn=0" />
                        </td>
                        <th>Diego Polidori</th>
                    </tr>
                    <tr>
                        <td class="text">
                            <h5>Information Technology</h5>
                            <!--<em>Database management</em>-->
                        </td>
                    </tr>
                    <tr>
                        <td class="info">
                            UNITUS (Italy)<br />
                            +39 0761 357044<br />
                            <a href="mailto:diego.p@unitus.it">diego.p@unitus.it</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-4">
            <table class="contact-table">
                <tbody>
                    <tr>
                        <td style="vertical-align: top;" rowspan="3">
                            <img title="Alessio Ribeca" style="border: currentcolor;" src="/images/default-source/default-album/alessio-ribeca.jpg?sfvrsn=0" />
                        </td>
                        <th>Alessio Ribeca</th>
                    </tr>
                    <tr>
                        <td class="text">
                            <h5>Information Technology</h5>
                            <!--<em>Programmer, data processing</em>-->
                        </td>
                    </tr>
                    <tr>
                        <td class="info">
                            UNITUS (Italy)<br />
                            +39 0761 357044<br />
                            <a href="mailto:a.ribeca@unitus.it">a.ribeca@unitus.it</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-4">
            <table class="contact-table">
                <tbody>
                    <tr>
                        <td style="vertical-align: top;" rowspan="3">
                            <img title="michele" style="border: currentcolor;" src="/images/default-source/default-album/michele.jpg?sfvrsn=0" />
                        </td>
                        <th>Michele Tomassucci </th>
                    </tr>
                    <tr>
                        <td class="text">
                            <h5>Technician</h5>
                            <!--<em>Field technician, sensors test and development</em>-->
                        </td>
                    </tr>
                    <tr>
                        <td class="info">
                            UNITUS (Italy)<br />
                            +39 0761 357600<br />
                            <a href="mailto:mtomass@unitus.it">mtomass@unitus.it</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <h3>ETC Advisory Strategic Council</h3>
        <p>
            Ensure the funding to the ETC, care about the link with the Host Institutions and among Host Institutions, give general advices on the ETC functioning. Free to involve legal and administrative experts for specific discussions.
        </p>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <table class="contact-table contact-table-small">
                <tbody>
                    <tr>
                        <td style="vertical-align: top;" rowspan="3">
                            <img title="Reinhart Ceulemans" alt="Reinhart Ceulemans" src="/images/default-source/default-album/reinhart-ceulemans93efeca7e9b86512b460ff0000390516.png?sfvrsn=0" displaymode="Original" />
                        </td>
                        <th>Reinhart Ceulemans</th>
                    </tr>
                    <tr>
                        <td class="info">
                            PLECO (Belgium)
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-3">
            <table class="contact-table contact-table-small">
                <tbody>
                    <tr>
                        <td style="vertical-align: top;" rowspan="3">
                            <img title="Antonio Bombelli" alt="Antonio Bombelli" src="/images/default-source/default-album/antonio-bombelli.jpg?sfvrsn=0" displaymode="Original" /><br />
                        </td>
                        <th>Antonio Bombelli</th>
                    </tr>
                    <tr>
                        <td class="info">
                            CMCC (Italy)
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-3">
            <table class="contact-table contact-table-small">
                <tbody>
                    <tr>
                        <td style="vertical-align: top;" rowspan="3">
                            <img title="Bert Gielen" alt="Bert Gielen" src="/images/default-source/default-album/bert-gielenacefeca7e9b86512b460ff0000390516.png?sfvrsn=0" displaymode="Original" /><br />
                        </td>
                        <th>Bert Gielen</th>
                    </tr>
                    <tr>
                        <td class="info">
                            PLECO (Belgium)
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-3">
            <table class="contact-table contact-table-small">
                <tbody>
                    <tr>
                        <td style="vertical-align: top;" rowspan="3">
                            <img title="Ivan Janssens" alt="Ivan Janssens" src="/images/default-source/default-album/ivan-janssensb9efeca7e9b86512b460ff0000390516.jpg?sfvrsn=0" displaymode="Original" /><br />
                        </td>
                        <th>Ivan Janssens</th>
                    </tr>
                    <tr>
                        <td class="info">
                            PLECO (Belgium)
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="row clearfix">&nbsp;</div>
        <div class="col-md-3">
            <table class="contact-table contact-table-small">
                <tbody>
                    <tr>
                        <td style="vertical-align: top;" rowspan="3">
                            <img title="Denis Loustau" alt="Denis Loustau" src="/images/default-source/default-album/denis-loustau.png?sfvrsn=0" displaymode="Original" /><br />
                        </td>
                        <th>Denis Loustau</th>
                    </tr>
                    <tr>
                        <td class="info">INRA (France)</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-3">
            <table class="contact-table contact-table-small">
                <tbody>
                    <tr>
                        <td style="vertical-align: top;" rowspan="3">
                            <img title="Dario Papale" alt="Dario Papale" src="/images/default-source/default-album/dario-papaleffefeca7e9b86512b460ff0000390516.jpg?sfvrsn=0" displaymode="Original" /><br />
                        </td>
                        <th>Dario Papale</th>
                    </tr>
                    <tr>
                        <td class="info">UNITUS (Italy)</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-3">
            <table class="contact-table contact-table-small">
                <tbody>
                    <tr>
                        <td style="vertical-align: top;" rowspan="3">
                            <img title="Jean-Francois Soussana" alt="Jean-Francois Soussana" src="/images/default-source/default-album/jean-francois-soussana.jpg?sfvrsn=0" displaymode="Original" /><br />
                        </td>
                        <th>Jean-Fran&ccedil;ois Soussana</th>
                    </tr>
                    <tr>
                        <td class="info">INRA (France)</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-3">
            <table class="contact-table contact-table-small">
                <tbody>
                    <tr>
                        <td style="vertical-align: top;" rowspan="3">
                            <img title="Riccardo Valentini" alt="Riccardo Valentini" src="/images/default-source/default-album/riccardo-valentinie6efeca7e9b86512b460ff0000390516.jpg?sfvrsn=0" displaymode="Original" /><br />
                        </td>
                        <th>Riccardo Valentini</th>
                    </tr>
                    <tr>
                        <td class="info">CMCC (Italy)</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <h3>Other people collaborating with the ETC</h3>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-2">
            <table class="contact-table contact-table-small">
                <tbody>
                    <tr>
                        <th>Dominique Arrouays</th>
                    </tr>
                    <tr>
                        <td class="info">INRA (France)</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-2">
            <table class="contact-table contact-table-small">
                <tbody>
                    <tr>
                        <th>Emanuele Cannarella </th>
                    </tr>
                    <tr>
                        <td class="info">UNITUS (Italy)</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-2">
            <table class="contact-table contact-table-small">
                <tbody>
                    <tr>
                        <th>Antoine Richard </th>
                    </tr>
                    <tr>
                        <td class="info">INRA (France)</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-2">
            <table class="contact-table contact-table-small">
                <tbody>
                    <tr>
                        <th>Patrice Soul&eacute;</th>
                    </tr>
                    <tr>
                        <td class="info">INRA (France)</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-2">
            <table class="contact-table contact-table-small">
                <tbody>
                    <tr>
                        <th>Alessandra Settimi </th>
                    </tr>
                    <tr>
                        <td class="info">CMCC (Italy)</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-2">
            <table class="contact-table contact-table-small">
                <tbody>
                    <tr>
                        <th>Renato Zompanti </th>
                    </tr>
                    <tr>
                        <td class="info">UNITUS (Italy)</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
