﻿@{
    ViewBag.Title = "Templates";
    Layout = "~/Views/Shared/_LayoutICOS.cshtml";
}

<div class="container">
    <div class="row">
        <h1>Documents</h1>
    </div>
</div>
<div class="container">
    <div class="row">
        <h3>BADM Templates</h3>
        <p>The metadata in ICOS are collected using the BADM system that is based on the exact same rules and principles of the international BADM used in FLUXNET and across networks. The difference respect to the standard international BADM is that in ICOS we collect also specific metadata needed to ensure the processing of the raw data and a more detailed metadata collection.</p>
        <p>For this reason specific BADM templates and groups have been developed for the use inside ICOS and they are listed in the tables below (one for Class1 andClass2 stations, the other for the Associated stations), including the links to download them (same version available in the Alfresco/Fileshare systems). The BADM templates to be used in ICOS are identified by the ICOSBADM name or ASSICOSBADM in case they are specific for Associated stations.</p>
        <p>For more information about the BADM system and how to fill in the template or the online tool refer to the <strong><a href="/icos/documents/instructions/badm">Instruction on how to use the ICOSBADM</a></strong>. An additional resource to correctly report data using the BADM are the <strong><a href="https://docs.google.com/document/d/1f9EK_i9piUQqRFpLRjhtmvYrFRn_4-Rd8S9szS2-M2g/edit">Frequently Asked Questions</a></strong> where it is also possible to find tables with the list of variables that are mandatory and allowed in the different groups.</p>
        <p>The BADM uses a controlled vocabulary to identify the sensor or instrument used in the station (for all the sites, including the Associated Stations). Since there are continuously new sensors proposed, the updated list and relative controlled vocabulary (LIST) is available <a href="https://docs.google.com/spreadsheets/d/1-QZ_i--hLO7QfEkCxzxj9I8GHS9FykpqJKs8UPPtRPI/edit?usp=sharing">in this google sheet</a> and updated on the template periodically. The BADM Online tool is always updated.<br />
    </div>
</div>
<div class="container">
    <div class="row">
        <h4>Class1 and Class2 ICOS Stations</h4>
    </div>
</div>